<h1><%=t :show_users %></h1>

<table>
  <tr>
    <th><%= User.human_attribute_name :name %></th>
    <th><%= User.human_attribute_name :forename %></th>
    <th><%= User.human_attribute_name :email %></th>
    <th><%= User.human_attribute_name :address %></th>
    <th><%= User.human_attribute_name :zip %></th>
    <th><%= User.human_attribute_name :city %></th>
    <th><%= User.human_attribute_name :country %></th>
    <th><%= User.human_attribute_name :phone %></th>
    <th><%= User.human_attribute_name :isAdmin %></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%=h user.name %></td>
    <td><%=h user.forename %></td>
    <td><%=h user.email %></td>
    <td><%=h user.address %></td>
    <td><%=h user.zip %></td>
    <td><%=h user.city %></td>
    <td><%=h user.country %></td>
    <td><%=h user.phone %></td>
	<td><%=h user.isAdmin %></td>
    <td><%= link_to t(:show), user %></td>
    <td><%= link_to t(:edit), edit_user_path(user) %></td>
  </tr>
<% end %>
</table>