<h1>Editing category</h1>

<% cat = @category %>
<% form_for(@category) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
<%= select_categories_tag('test') { |c| c != cat && !c.ancestor_of?(@category) && !c.descendant_of?(@category) } %>
<%#  %>

<%= link_to 'Show', @category %> |
<%= link_to 'Back', categories_path %>
