<% title :edit_category %>

<% form_for(@category) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%=t 'existing_subcategories' %>
    
  </p>
  <p>
    <%=t 'existing_supercategories' %>
    
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
  <p>
<% end %>
<%= select_categories_tag('test') { |c| !c.relative_of?(@category) } %>

<%= link_to t(:show), @category %> |
<%= link_to t(:back), categories_path %>
