<% title :edit_category %>

<% form_for(@category) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%=t 'existing_subcategories' %>
    <%= render :partial => 'categories', :locals => { :other_categories => @category.sub_categories, :category => @category, :id => 'subcategories' } %>
  </p>
  <p>
    <%=t 'existing_supercategories' %>
    <%= render :partial => 'categories', :locals =>  { :other_categories => @category.super_categories, :category => @category, :id => 'supercategories' } %>    
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to t(:show), @category %> |
<%= link_to t(:back), categories_path %>

<br /><br /><br /><br /><br /><br />
<%= select_new_subcategory_tag(@category) %>
