<% title @category.title %>

<p class="breadcrumbs">
  <%= show_breadcrumbs @category %>
</p>
<p class="subcategories">
  <%= show_subcategories @category.sub_categories %>
</p>
<%= render :partial => 'products/products', :locals => { :products => CategoriesHelper::find_products(@category) } %>

<% if isLoggedInUserAdmin? %>
	<%= link_to t(:edit), edit_category_path(@category) %> |
<% end %>
<%= link_to t(:back), categories_path %>
