<h1>Listing products</h1>

<table>
  <tr>
    <th><%= Product.human_attribute_name :image %></th>
    <th><%= Product.human_attribute_name :title %></th>
    <th><%= Product.human_attribute_name :description %></th>
    <th><%= Product.human_attribute_name :published %></th>
    <th><%= Product.human_attribute_name :price %></th>
  </tr>

<%= render :partial => 'product', :collection => @products %>
</table>

<br />

<%= link_to I18n.t(:create_new_product), new_product_path %>
