<% title @product.title %>
<%= show_product_breadcrumbs @product %>

<p>
  <b><%= Product.human_attribute_name :category_id %>:</b>
  <%=h @product.category %>
</p>

<p>
  <b><%= Product.human_attribute_name :description %>:</b>
  <%=h @product.description %>
</p>

<p>
  <b><%= Product.human_attribute_name :published %>:</b>
  <%=h @product.published %>
</p>

<p>
  <b><%= Product.human_attribute_name :updated_at %></b>
  <%=l @product.updated_at, :format => :short %>
</p>

<p>
  <b><%= Product.human_attribute_name :price %>:</b>
  <%=h show_currency @product.price %>
</p>

<p>
  <b><%= Product.human_attribute_name :image %>:</b>
  <%= show_image @product %>
</p>

<% if isLoggedInUserAdmin? %>
	<%= link_to t(:edit), edit_product_path(@product) %> |
<% end %>

<%= link_to t(:back), products_path %> |
<%= link_to_remote t(:add_to_shopping_card), :url => { :controller => 'orders', 
														   :action => 'create', 
													   :product_id => @product.id} %>
