<p>
  <b><%=t :Title %>:</b>
  <%=h @product.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @product.description %>
</p>

<p>
  <b>Published:</b>
  <%=h @product.published %>
</p>

<p>
  <b>Last updated</b>
  <%=l @product.updated_at, :format => :short %>
</p>

<p>
  <b>Price:</b>
  <%=h show_currency @product.price %>
</p>

<p>
  <b>Image:</b>
  <%= show_image @product %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
