<p>
  <b><%= Product.human_attribute_name :title %>:</b>
  <%=h @product.title %>
</p>

<p>
  <b><%= Product.human_attribute_name :description %>:</b>
  <%=h @product.description %>
</p>

<p>
  <b><%= Product.human_attribute_name :published %>:</b>
  <%=h @product.published %>
</p>

<p>
  <b><%= Product.human_attribute_name :updated_at %></b>
  <%=l @product.updated_at, :format => :short %>
</p>

<p>
  <b><%= Product.human_attribute_name :price %>:</b>
  <%=h show_currency @product.price %>
</p>

<p>
  <b><%= Product.human_attribute_name :image %>:</b>
  <%= show_image @product %>
</p>


<%= link_to I18n.t(:edit), edit_product_path(@product) %> |
<%= link_to I18n.t(:back), products_path %>
