<p>
  <b><%=t :title %>:</b>
  <%=h @product.title %>
</p>

<p>
  <b><%=t :description %>:</b>
  <%=h @product.description %>
</p>

<p>
  <b><%=t :published %>:</b>
  <%=h @product.published %>
</p>

<p>
  <b>Last updated</b>
  <%=l @product.updated_at, :format => :short %>
</p>

<p>
  <b><%=t :price %>:</b>
  <%=h show_currency @product.price %>
</p>

<p>
  <b><%=t :image %>:</b>
  <%= show_image @product %>
</p>


<%= link_to I18n.t(:edit), edit_product_path(@product) %> |
<%= link_to I18n.t(:back), products_path %>
